.btn {
  background-color: $mainGreen;
  color: #FFF;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;
  text-shadow: 2px, 2px, 0 rgba(0, 0, 0, .8);
  border-radius: 0;

  &--orange {
    background-color: $mainOrange;
    color: #FFF;
  }

  &--large {
    padding: 1.1rem 1.9rem;
    border-radius: 0;

    @mixin atSmall {
      font-size: 1.25rem;
    }
  }

}
